main {
  max-width: 640px;
}

main > h1 {
  margin-top: 0;
  margin-bottom: 4rem;
}

button[type="submit"] {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ababab;
  margin-bottom: 2rem;
}
